*{
    font-size: 20px;
}

img{
    border-radius: 10px;
    width: 600px;
}

.card{
    border: 5px solid #ffc107;
}

.card a img{
    object-fit: fill;
}

.container img{
    height: 700px;
}

.container{
    margin-top: 5px;
}